.nav {
  width: 80%;
  height:100px;
  margin:auto;
  padding-bottom:2em;
  padding-top:2em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $clrLightGray;
  align-items: center;


  .nav-left {
    display: flex;
    .logo {
      margin-right:1em;
    }
    .links {
      display: flex;
      a{
        margin-left:2em;
        position:relative;

        &:after {
          display:block;
          content: '';
          position:absolute;
          top:56px;
          left: 0;
          right: 0;
          border-bottom: solid 3px $clrOrange;  
          transform: scaleX(0);  
          transition: transform 250ms ease-in-out;
         }
         &.selected {
          color:$clrDarkBlue;
          &:after {
            transform: scaleX(1.2);
           }
        }
        &:hover:after {
           transform: scaleX(1.2); 
        }
      }
    }
  }

  .nav-right {
    display:flex;
    align-items: center;

    img {
      cursor:pointer;
    }

    .avatar {
      height: 3em;
      margin-left:2em;
    }
  }
}