//colors
$clrWhite: hsl(0, 0%, 100%);
$clrDarkBlue: hsl(220, 13%, 13%);
$clrDarkGrayBlue: hsl(219, 9%, 45%);
$clrGrayBlue: hsl(220, 14%, 75%);
$clrLightGrayBlue: hsl(223, 64%, 98%);
$clrBlack: hsl(0, 0%, 0%);
$clrOrange: hsl(26, 100%, 55%);
$clrPaleOrange: hsl(25, 100%, 94%);

$fontMd: 16px;

$fontWeightNormal: 400;
$fontWeightBold: 700;

$fontFamilyMain: 'Kumbh Sans', sans-serif;