//colors
$clrWhite: hsl(0, 0%, 100%);
$clrBlack: hsl(0, 0%, 0%);
$clrDarkBlue: hsl(220, 13%, 13%);
$clrDarkGrayBlue: hsl(219, 9%, 45%);
$clrGrayBlue: hsl(220, 14%, 75%);
$clrLightGrayBlue: hsl(223, 64%, 98%);
$clrOrange: hsl(26, 100%, 55%);
$clrPaleOrange: hsl(25, 100%, 94%);

$fontSm: 14px;
$fontMd: 16px;
$fontMdLrg: 30px;
$fontLrg: 42px;

$fontWeightNormal: 400;
$fontWeightBold: 700;

$fontFamilyMain: 'Kumbh Sans', sans-serif;