*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

p {
  font-size: 16px;
  color: #68707d;
  line-height: 1.5;
}

h1 {
  color: black;
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #68707d;
}

a:hover {
  color: #1d2025;
}

.accent {
  color: #ff7d1a;
}

span {
  font-weight: 700;
}

.label {
  letter-spacing: 2px;
}

.sale {
  text-decoration: line-through;
  color: #b6bcc8;
}

body {
  background-color: white;
}

main {
  width: 70%;
  margin: auto;
}

a {
  cursor: pointer;
}

.nav {
  width: 80%;
  margin: auto;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f7f8fd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-left .logo {
  margin-right: 1em;
}

.nav .nav-left .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-left .links a {
  margin-left: 2em;
}

.nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-right img {
  cursor: pointer;
}

.nav .nav-right .avatar {
  height: 3em;
  margin-left: 2em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 4em;
}

.product {
  height: 28em;
  border-radius: 12px;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin-left: 3em;
  padding-top: 3em;
}

.product-info p, .product-info h1 {
  margin: 0.5em 0 0.5em 0;
}

.product-info .price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-info .price-info .old-price {
  margin-top: 0.5em;
}

.product-info .price-info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.product-info .price-info .price .background {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3em;
  margin-left: 1em;
  background-color: #ffede0;
}

.product-info .purchase-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.product-info .purchase-buttons .purchase-amount {
  height: 48px;
  border-radius: 10px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f7f8fd;
  margin-right: 1em;
}

.product-info .purchase-buttons .purchase-amount button {
  height: 50%;
}

.product-info .purchase-buttons .add-cart {
  background-color: #ff7d1a;
  color: white;
  border-radius: 10px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-info .purchase-buttons .add-cart img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  height: 15px;
  margin-right: 0.5em;
}

button {
  background-color: inherit;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: #ff7d1a;
  font-family: "Kumbh Sans", sans-serif;
  height: 48px;
}
/*# sourceMappingURL=index.css.map */