body {
  font-family: $fontFamilyMain;
}

p {
  font-size: $fontMd;
  color: $clrDarkGrayBlue;
  line-height: 1.5;
}

h1 {
  color: $clrBlack;
  font-size: $fontLrg;
  font-weight: 700;
}

h2 {
  font-size: $fontMdLrg;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: $clrDarkGrayBlue;
  &:hover {
    color: $clrDarkBlue;
  }
}

.accent {
  color:$clrOrange;
}

span {
  font-weight: $fontWeightBold;
}

.label {
  letter-spacing: 2px;
}

.sale {
  text-decoration: line-through;
  color: $clrGrayBlue;
}