.thumbnail {
  height: 100%;
  width:100%;
  display: inline-block;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    opacity:0.5;
  }
  &.selected {
    opacity: 0.3;
  }  
}

.container {
  width: 6em;
  border-radius: 14px;
  border:2px solid $clrWhite;
  &.selected {
    border:2px solid $clrOrange;
  }
  
}